#app {
  display: block;
  margin-top: 15px;
  margin-left: 24%;
}

h2, p {
 margin-left: 20px;
}

#holder {
  position: relative;
  width: 400px;
  height:300px;
  left: 125px;
  border: 2px solid #333;
}
#sky {
  position: absolute;
  left: 0;
  top: 0;
  height: 150px;
  width: 400px;
  background-color: #CCD;
  background-image: url(../img/sky.jpg);

}
#floor {
  position: absolute;
  left: 0;
  top: 150px;
  height: 150px;
  width: 400px;
  background-color: #565;
  background-image: url(../img/floor.png);

}
#canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 300px;
  background-image: url(../img/overlay.gif);
}
#map, #underMap {
  position: absolute;
}
#code {
  position: absolute;
  top: 165px;
}
#suppl {
  position: absolute;
  top: 50px;
  left: 550px;
  width: 250px;
}

#game-author {
 display: block;
 text-align: right;
}
